.faces {
    background-image: url("../assets/JOHN HAGELIN.jpg");
    background-size: cover;
    min-height: 70vh;
}
.humans {
    .title {
    background-size: cover;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;;
    margin-bottom: -0.5em;
    }
    .font {
        font-size: 1em;
        line-height: 2em;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
}



    .more{
z-index: 1;
text-align: center;


}

div{
    z-index: 1;
    text-align: center;
}
