

.vidpage{
    margin-bottom: 10em;

    .title {
    background-size: cover;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;;
    margin-bottom: -0.5em;
    }
    .font {
        font-size: 1em;
        line-height: 2em;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin:1em;
    }
}


