

.statement {
    .titlewhat {
        background-size: cover;
        text-align: center;
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;;
        margin: 1em;
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
    
    .insidemessage{
   
        text-align: left;
        @media only screen and (max-device-width: 480px) {
            text-align: center;
          }
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        line-height: 2em;
        font-weight: 400;;
        margin: 1.5em;
    }
}



