.carousel {

    margin-top:-3em;
    margin-left:-20em;
    
    
    
    .pic1 {
        background-image:url("../assets/CARROUSEL-1-NO-TEXT.jpg") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        width:100vh;

    }

    .pic2 {
        background-image:url("../assets/CARROUSEL-2.png") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        

    }

    .pic3{
        background-image:url("../assets/CARROUSEL-3.png") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        
    }

    .logo{
        z-index:2;
    }
}

