.carousel {
    position:relative;
    // margin-top:10em;
    // margin-left: -20em;
    min-height: 80vh;
    margin-left:0;
    margin-right:0;
    // margin-left:-8em;
    // margin-right: -15em;
    
    
    
    .pic1 {
        background-image:url("../assets/CARROUSEL-1-NO-TEXT.jpg") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        // margin-right: 5em;
        margin-left: 7em;
        min-width:120vh;
        // margin-left:-10em;
        // margin-right:10em;
        

    }

    .pic2 {
        background-image:url("../assets/CARROUSEL-2.png") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        margin-left: -20em;
       
        

    }

    .pic3{
        background-image:url("../assets/CARROUSEL-3.png") ;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        margin-left:-4em;
        // min-width:15vh;
        
        
    }

    .meditatemessage{

        position: absolute;
        left: 5.2em;
        
        bottom: 5em;
        z-index:5;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 60px;
        text-align: center;

        strong{
            color:white;
            font-weight: 600;
            font-size: 60px;
        }
           
    
     }
     .logolanding{

        position: absolute;
        // left: 10em;
       
        left: 10.25em;
        
        bottom: 30.25em;
        z-index:10;
    
       
    }
}



