.carousel {
    position:relative; 
    min-height: 70vh;
    margin-left:-20em;
    
    
    .pic1 {
        background-image:url("../assets/CARROUSEL-1-NO-TEXT.jpg") ;
        background-size: cover;
        background-position: center;
        min-height: 70vh;
        margin-right: 20em;
        margin-left: -8em;
        min-width:120vh;    
    }

    .pic2 {
        background-image:url("../assets/CARROUSEL-2.png") ;
        background-size: cover;
        background-position: center;
        min-height: 70vh;
        margin-left: -20em;    
    }

    .pic3{
        background-image:url("../assets/CARROUSEL-3.png") ;
        background-size: cover;
        background-position: center;
        min-height: 70vh;
        margin-right:3em;            
    }

    .subtitle{
        position: absolute;
        // text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 45px;
        margin-top:-6em;
        z-index:2;
        left:7.5em; 
        
        strong{
            color: white; 
        }
     } 

     .logolanding{
        text-align: center;
        position: absolute;
        left: 12.75em;
        top: -17em;
        z-index:2;
     }

   




    }
   
  
     

     
