    // .carousel {
    //     position:relative;
    //     margin-left:-19em;
    //     margin-bottom: 3em;


    //     .meditatemessage{
    //         margin-top: -20em;
    //         color: rgb(206, 164, 164);
    //     }
          
    //     .level-item {
    //         align-items: center;
    //         display: flex;
    //         flex-basis: auto;
    //         flex-grow: 0;
    //         flex-shrink: 0;
    //         justify-content: center;
    //         margin-top: 1em;
           
      
            
    //     }

.carousel{
    z-index: 0;


   
  
    
    // .lets{
    //     color: rgb(255, 255, 255);
    //     padding-top: 2em;
    //     padding-bottom: 1em;
    //     font-family: 'Poppins', sans-serif;
    //     font-style: normal;
    //     font-weight: 200;
    //     font-size: 38px;
    //     text-align: center;
    //     margin-top:-15em;
    //     margin-left: 1em;
    //     margin-right: 1em;
        
       
        
    //     strong{
    //         color: rgb(255, 255, 255);
    //     }
        
   
    // } 
}

.logolanding{
    margin-top: -12em;   
     

}


      
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-top:-5em;
    text-align: center;
    left:15em
}




