.top {
    background-image: url("../assets/CARROUSEL-1 copy.jpg");;
    background-size: cover;
    min-height: 70vh;
    .columns {
        
        .title{
            color: white;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 200;
            font-size: 64px;
        }
        .subtitle{
            color: white;
        }
    }
}