.live {
    height: 40vh;
    background-image: linear-gradient(#FBBA00,white);
    // margin-top:-2em;
 
    .messageaudience{
        margin-top:2em;
        

        .counter{
            margin-top:1em;
        }
    }

  

    .show{
        margin-top:1em;
        margin-left: -1em;
       
    }
    
}

